.App {
    background-image: url(images/wood.jpg);
    padding-top: 10px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: white;
    border-radius: .5em;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #695d39;
    box-shadow: -0.25em 0.25em 0.5em -0.25em black;
    line-height: 1em;
    margin: 1rem;
    text-align: center;
}

h2 {
    line-height: 1em;
}

body {
    margin: 0;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 40px #b8860b;
}

.header {
    background: #f2eecb;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.scoreboard-and-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 1rem;
}

.scoreboard {
    font-size: 1.5em;
}

.status {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}